.event-Focus {
    text-align: center;
    height: 100vh;
}

.event-Focus__Overview {
    background-color: rgb(255, 255, 255);
    height: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.event-Focus__Overview-container {
    padding-bottom: 1rem;
}
.Overview-title {
    text-align: left;
    font-size: 50px;
    font-weight: 600;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(238, 238, 238);
}

.event-Focus__Overview-box {
    box-shadow: 1px 1px 5px 1px rgb(188, 188, 188);
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    width: 40rem;
    height: 10rem;
    font-size: 20px;
    font-weight: 500;
}

.event-Focus__Schedule {
    background-color: rgb(231, 231, 231);
    height: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.event-Focus__Schedule-container {
    padding-bottom: 4rem;
}
.Schedule-title {
    text-align: left;
    font-size: 50px;
    font-weight: 600;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
}

.event-Focus__Schedule-box {
    box-shadow: 1px 1px 5px 1px rgb(188, 188, 188);
    background-color: rgb(237, 237, 237);
    border-radius: 1rem;
    width: 40rem;
    padding: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}

.event-Focus__Schedule-box__Timestamp {
    box-shadow: 1px 1px 5px 1px rgb(179, 179, 179);
    background-color: lightgray;
    border-radius: 0.3rem;
    width: 36.5rem;
}