.tile-bg {
    background-color: rgb(18, 18, 18);
}
.tile-inner-bg {
    background-color: rgb(31, 31, 31);
}

.leftside--width {
    width: 30rem;
    max-width: 30rem;
}

.event-box--height-text-size {
    height: 30rem;
}