.Add-Button--size {
    width: 30rem;
    height: 5rem;
}

.tile-bg {
    background-color: rgb(232, 232, 232);
}
.tile-inner-bg {
    background-color: rgb(223, 223, 223);
}
.tile-shadow {
    box-shadow: 1px 1px 5px 1px rgb(188, 188, 188);
}